body {
    color: #212121;
    margin: 0;
    font-family: var(--main-font);
}

.no-scroll {
    overflow: hidden;
}

:root {
    --txt-clr: #fff;
    --main-font: 'Open Sans', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

ul {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


.section {
    padding: 130px 0;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #191c26;
    transition: background-color 300ms ease-in-out,
        backdrop-filter 300ms ease-in-out;
}

.header.no-transparency {
    background-color: rgba(25, 28, 38, 0.5);
    backdrop-filter: blur(4px);
}

.header-container {
    display: flex;
    align-items: center;

}

.logo {
    width: 69px;
    height: 56px;

    margin-right: 71px;
}

.nav {
    display: flex;
    nav-right: auto;
}

.header-nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}


.nav-list {
    font-weight: 600;
    font-size: 12px;
    line-height: calc(16px / 12 px);
    letter-spacing: 0.1em;
}

.nav-link {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.1em;
}

.nav-link:hover,
.nav-link:focus {
    color: #FF6C00;
}

.contact-link {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 40px;
}

.contacts,
.button-header {
    padding-top: 52px;
    padding-bottom: 52px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
    line-height: calc(16 / 12);
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #fff;
}

.button-header {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.09em;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #FF6C00;
    border-radius: 25px;
    padding: 12px 20px;
    cursor: pointer;

}

.contacts:hover,
.contacts:focus,
.button-header:hover,
.button-header:focus {
    color: #FF6C00;
}

/* hero */
.section-hero {
    max-width: 1280px;
    margin: 0 auto;
    background-image: url("../image/hero/hero.jpg");
    background-repeat: no-repeat;
    background-position: right, center;
    background-size: contain;
}

.container-hero {
    display: flex;

}

.hero-left-side {
    display: flex;
    align-items: flex-end;
    flex-basis: 100px;
    max-width: 100px;
}

.hero-list {
    display: flex;
    align-items: center;
    gap: 40px;

    transform: rotate(-90deg) translateY(27px);
    transform-origin: top left;
}

.hero-list::before {
    content: '';
    display: block;
    width: 60px;
    height: 1px;
    background-color: #303030;
}

.hero-link {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    letter-spacing: 0.2em;
    text-decoration: none;
    color: #303030;
}

.hero-link:hover,
.hero-link:focus {
    color: #FF6C00;
}

.hero-right-side {
    position: relative;
    flex-grow: 1;
    padding-left: 100px;
    padding-bottom: 206px;
    padding-top: 272px;
}

.hero-uppertitle.uppertitle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: rgba(157, 164, 189, 0.6);

}

.uppertitle {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: rgba(157, 164, 189, 0.6);
}

.uppertitle::before {
    content: "";
    display: block;
    background-color: rgba(157, 164, 189, 0.6);
    width: 60px;
    height: 1px;
}

.light:before {
    background-color: #303030;
}

.hero-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: calc(85 / 72);
    letter-spacing: 0.05em;

    color: #FFFFFF;

    margin-bottom: 20px;
}

.hero-desc {
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 18px;
    line-height: calc(30 / 18);
    letter-spacing: 0.02em;

    color: #9DA4BD;
    width: 500px;
}

.slider-controls {
    position: absolute;
    right: 0;
    bottom: 40px;

    display: flex;
    align-items: center;
    gap: 26px;
}

.button-hero {
    width: 60px;
    padding: 0;
    padding-bottom: 8px;

    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    letter-spacing: 0.1em;

    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    text-align: right;
    cursor: pointer;
}

.button-hero.disabled {
    text-align: left;
    color: rgba(157, 164, 189, 0.6);
    border-bottom: rgba(157, 164, 189, 0.6);
}

.pagination {
    position: absolute;
    top: 50%;
    right: 0;
}

.pagination-item {
    margin-left: auto;
    margin-bottom: 12px;
    width: 8px;
    height: 2px;
    background-color: #9da4bd;
}

.pagination-item:last-child {
    margin-bottom: 0;
}

.pagination-item.active {
    width: 18px;
    background-color: #fff;
}

/* about */
.container-about {
    display: flex;
}

.about-list {
    display: flex;
    gap: 30px;
}

.about-right {
    margin-left: 64px;
    flex-basis: 500px;
}

.uppertitle {
    margin-bottom: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #303030;
}

.title {
    margin-bottom: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-size: 42px;
    line-height: calc(49 / 42);
    letter-spacing: 0.05em;
}


.subtitle {
    margin-bottom: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(30 / 18);
    letter-spacing: 0.02em;

    color: #555555;
}

.about-desc {
    margin-bottom: 40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 14px;
    line-height: calc(26 / 14);
    letter-spacing: 0.02em;

    color: #555555;
}

.button-header.about {
    color: #303030;

}

.button-header.about:hover,
.button-header.about:focus {
    color: #FF6C00;
}

/* price */

.section-price {
    max-width: 1280px;
    margin: 0 auto;
    background-color: #111319;
    background-image: url("../image/price/price.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.uppertitle.dark {
    color: rgba(157, 164, 189, 0.6)
}

.title.dark {
    color: #FFFFFF;
    margin-bottom: 44px;
}

.price-list {
    display: flex;
    margin-bottom: 50px;

}

.prise-item {
    flex-basis: 50%;
    padding: 30px 40px;
    background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.prise-item.right {
    background-image: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price-inner-item {
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 18px;
    line-height: calc(30 /18);
    letter-spacing: 0.02em;

    color: #9DA4BD;
}

.price-inner-item:not(:last-child) {
    margin-bottom: 20px;

}

.button-header.price {
    display: block;
    margin: 0 auto;
}

/* benefits */
.container-benefits {
    display: flex;
}

.benefits-list {
    width: 370px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin: 0 auto;

}

.benefits-item {
    text-align: center;
    width: 170px;
    min-height: 133px;
    padding: 20px;
    background-color: #F7F7F7;
}

.benefits-item:nth-child(2n + 1) {
    margin-bottom: 30px;
    margin-right: 30px;

}



.benefits-quantity {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: calc(57 / 42);
    letter-spacing: 0.05em;

    display: flex;
    text-align: center;
    justify-content: center;
}

.benefits-quantity::after {
    content: "\002B";
    font-weight: 600;
    font-size: 16px;
    line-height: calc(22 / 16);
    text-align: center;
    color: #FF6C00;
}

.benefits-desc {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    text-align: center;
}

.benefits-group {
    flex-basis: 500px;
    margin-left: auto;
}


/* team */
.title.team {
    margin-bottom: 44px;
}

.section-team {
    background-color: #F7F7F7;
}

.team-wrapper {
    padding: 30px 5px;
}

.team-list {
    display: flex;
    gap: 30px;
    text-align: center;
}

.team-subtitle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(25 / 18);
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-desc {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(19 / 14);
    letter-spacing: 0.02em;

    color: #FF6C00;
}

.socials-team-list {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;
}

.socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #303030;
    border-radius: 50%;
    width: 44px;
    height: 44px;
}

.socials-link:hover,
.socials-link:focus {
    color: #FF6C00;
}

.social-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

/* portfolio */
.uppertitle.portfolio {
    margin-bottom: 44px;
}

.portfolio-list {
    display: flex;
    gap: 30px;
}

/* form */
.section-contacts {
    max-width: 1280px;
    margin: 0 auto;
    background-color: #191C26;
    background-image: url("../image/contacts/contacts.png");
    background-repeat: no-repeat;
    background-position: right;
}

.container-contacts {
    display: flex;
}

.form {
    width: 625px;

}

.label {
    margin-right: 30px;
    margin-bottom: 8px;

}

.form {}

.input,
.textarea {
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
}




.title.contact {
    margin-bottom: 44px;
}

.address {
    margin-bottom: 20px;
    color: #9DA4BD;
    font-style: normal;
}

.footer-contacts {
    text-decoration: none;
    color: #9DA4BD;

}

.phone,
.mail {
    width: 24px;
    height: 24px;
}

.address-footer {
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(30 / 18);
    letter-spacing: 0.02em;

    color: #9DA4BD;
}

.title.contact {
    font-weight: 700;
    color: #FFFFFF;

    opacity: 0.6;
}